* text=auto !eol
doxygen/doxyfile -text
sphinx-doc/Makefile -text
sphinx-doc/images-svg/BIP.svg -text
sphinx-doc/images-svg/atom-enabled-ports.svg -text
sphinx-doc/images-svg/atom-export-ports.svg -text
sphinx-doc/images-svg/atom-merged-export-ports.svg -text
sphinx-doc/images-svg/atom-syntax.svg -text
sphinx-doc/images-svg/compiler-presentation.svg -text
sphinx-doc/images-svg/compound-syntax.svg -text
sphinx-doc/images-svg/connector-enabled-interaction-port.svg -text
sphinx-doc/images-svg/connector-syntax.svg -text
sphinx-doc/images-svg/non-visible.svg -text
sphinx-doc/images-svg/tutorial-advanced-interactions-compounds.svg -text
sphinx-doc/images-svg/tutorial-advanced-interactions.svg -text
sphinx-doc/images-svg/tutorial-compound.svg -text
sphinx-doc/images-svg/tutorial-hierarchical-connector.svg -text
sphinx-doc/images/compiler-engines-presentation/compiler-presentation.png -text svneol=unset#unset
sphinx-doc/images/language-syntax/BIP.png -text
sphinx-doc/images/language-syntax/atom-enabled-ports.png -text
sphinx-doc/images/language-syntax/atom-export-ports.png -text
sphinx-doc/images/language-syntax/atom-merged-export-ports.png -text
sphinx-doc/images/language-syntax/atom-syntax.png -text svneol=unset#unset
sphinx-doc/images/language-syntax/compound-syntax.png -text svneol=unset#unset
sphinx-doc/images/language-syntax/connector-enabled-interactions-port.png -text
sphinx-doc/images/language-syntax/connector-syntax.png -text svneol=unset#unset
sphinx-doc/images/language-syntax/non-visible.png -text
sphinx-doc/images/missing-todo.png -text svneol=unset#unset
sphinx-doc/images/tutorial/tutorial-advanced-interactions-compounds.png -text
sphinx-doc/images/tutorial/tutorial-advanced-interactions.png -text
sphinx-doc/images/tutorial/tutorial-compound.png -text
sphinx-doc/images/tutorial/tutorial-hierarchical-connector.png -text
sphinx-doc/source/Bip2-simplified.rst -text
sphinx-doc/source/compiler-engines-presentation.rst -text
sphinx-doc/source/conf.py -text
sphinx-doc/source/cpp-backend.rst -text
sphinx-doc/source/dev-doc-compiler.rst -text
sphinx-doc/source/dev-doc-engine.rst -text
sphinx-doc/source/dev-doc-general.rst -text
sphinx-doc/source/index.rst -text
sphinx-doc/source/installing-using-compiler.rst -text
sphinx-doc/source/installing-using-ref-engine.rst -text
sphinx-doc/source/introduction.rst -text
sphinx-doc/source/language.rst -text
sphinx-doc/source/tutorial.rst -text
sphinx-doc/sync-to-www.sh -text
sphinx-doc/topics -text
sphinx-doc/tutorial_src/broadcast-advanced-wrapped/HelloPackage.bip -text
sphinx-doc/tutorial_src/broadcast-advanced-wrapped/build.sh -text
sphinx-doc/tutorial_src/broadcast-advanced/HelloPackage.bip -text
sphinx-doc/tutorial_src/broadcast-advanced/build.sh -text
sphinx-doc/tutorial_src/broadcast-to-several-wrapped/HelloPackage.bip -text
sphinx-doc/tutorial_src/broadcast-to-several-wrapped/build.sh -text
sphinx-doc/tutorial_src/broadcast-to-several/HelloPackage.bip -text
sphinx-doc/tutorial_src/broadcast-to-several/build.sh -text
sphinx-doc/tutorial_src/build_all.sh -text
sphinx-doc/tutorial_src/c++/custom-type-rdv-serial/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/custom-type-rdv-serial/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/custom-type-rdv-serial/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/custom-type-rdv/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/custom-type-rdv/build.sh -text
sphinx-doc/tutorial_src/c++/custom-type-rdv/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/custom-type-rdv/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/debug_bip_level/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/debug_bip_level/build.sh -text
sphinx-doc/tutorial_src/c++/debug_bip_level/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/debug_bip_level/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/preinstalled-library/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/preinstalled-library/build.sh -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data-with-modification/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data-with-modification/build.sh -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data-with-modification/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data-with-modification/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data/build.sh -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/with-external-code-and-data/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/with-external-code-const-context/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/with-external-code-const-context/build.sh -text
sphinx-doc/tutorial_src/c++/with-external-code-const-context/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/with-external-code-const-context/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/c++/with-external-code/HelloPackage.bip -text
sphinx-doc/tutorial_src/c++/with-external-code/build.sh -text
sphinx-doc/tutorial_src/c++/with-external-code/ext-cpp/HelloPackage.cpp -text
sphinx-doc/tutorial_src/c++/with-external-code/ext-cpp/HelloPackage.hpp -text
sphinx-doc/tutorial_src/initial-helloworld/HelloPackage.bip -text
sphinx-doc/tutorial_src/initial-helloworld/build.sh -text
sphinx-doc/tutorial_src/priorities_in_atom/build.sh -text
sphinx-doc/tutorial_src/priorities_in_atom/priorities_in_atom.bip -text
sphinx-doc/tutorial_src/priorities_in_compound/build.sh -text
sphinx-doc/tutorial_src/priorities_in_compound/priorities_in_compound.bip -text
sphinx-doc/tutorial_src/rendez-vous-several-components/HelloPackage.bip -text
sphinx-doc/tutorial_src/rendez-vous-several-components/build.sh -text
